SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=https://splash-gangsheet-builder.onrender.com
SCOPES=read_files,read_orders,read_products,write_app_proxy,write_files
DATABASE_URL=file:dev.sqlite
